{% extends 'base.html.twig' %}

{% block title %}Create Author{% endblock %}

{% block body %}
    <div class="author-create">

        {{ form_start(form) }}
        {{ form_row(form.first_name) }}
        {{ form_row(form.last_name) }}
        {{ form_row(form.biography) }}
        <button class="btn btn-success">Create Author</button>
        {{ form_end(form) }}
    </div>
{% endblock %}
