{% extends 'admin/base.html.twig' %}

{% block title %}Ստեղծել Հեղինակի{% endblock %}

{% block body %}
    <div class="author-create">

        {{ form_start(form) }}
        {{ form_row(form.first_name) }}
        {{ form_row(form.last_name) }}
        {{ form_row(form.biography) }}
        <button class="btn btn-success">Ստեղծել</button>
        {{ form_end(form) }}
    </div>
{% endblock %}
