{% extends 'base.html.twig' %}

{% block title %}Գրքեր{% endblock %}

{% block body %}
    <style>
        .card {
            margin: 15px 0;
            padding: 15px;
            border: 1px solid #ccc;
            border-radius: 5px;
        }
        .card-title {
            font-size: 1.25rem;
        }
        .pagination {
            justify-content: center;
        }
        .quantity-input {
            width: 60px;
            margin-left: 10px;
            border: 1px solid #ced4da;
            border-radius: 0.25rem;
            padding: 0.375rem 0.75rem;
            font-size: 1rem;
        }
        .alert {
            margin: 15px 0;
        }
    </style>

    <div class="container mt-5">
        <h1 class="text-center">Վաճառքի Գրքեր</h1>

        {% for type, messages in app.flashes %}
            {% for message in messages %}
                <div class="alert alert-{{ type }} text-center">
                    {{ message }}
                </div>
            {% endfor %}
        {% endfor %}

        <form method="post" action="{{ path('app_order_create') }}">
            <div class="row">
                {% for book in books %}
                    <div class="col-md-2"></div>
                    <div class="col-md-7">
                        <div class="d-flex align-items-center">
                            <input type="checkbox" name="selected_books[]" value="{{ book.id }}" id="book-{{ book.id }}" class="mr-2">
                            <label for="book-{{ book.id }}" class="ml-2"></label>
                            <div class="card flex-fill">
                                <h5 class="card-title text-center">{{ book.title }}</h5>
                                <p class="card-text text-center"><strong>Գինը:</strong> ${{ book.price }}</p>
                                <p class="card-text text-center"><strong>Հեղինակը:</strong> {{ book.author.firstName }} {{ book.author.lastName }}</p>
                                <div class="d-flex justify-content-center">
                                    <input type="number" name="quantity[{{ book.id }}]" min="1" value="1" class="quantity-input">
                                    <a href="{{ path('app_book_show', { 'id': book.id }) }}" class="btn btn-secondary ml-3">Ավելին</a>
                                    <button type="submit" class="btn btn-success ml-3">Գնել</button>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-2"></div>
                {% else %}
                    <p>No books found.</p>
                {% endfor %}
            </div>

            <div class="text-center mt-4">
                <button type="submit" class="btn btn-success">Գնել Ընտրածները</button>
            </div>
        </form>

        <div class="pagination mt-4">
            {{ knp_pagination_render(books) }}
        </div>
    </div>
{% endblock %}
