{% extends 'admin/base.html.twig' %}

{% block title %}Փոփոխել Գիրքը{% endblock %}

{% block body %}
    <div class="author-edit">
        <h1>Փոփոխել Գիրքը</h1>

        {{ form_start(form) }}
        {{ form_row(form.title) }}
        {{ form_row(form.description) }}
        {{ form_row(form.publicationYear) }}
        {{ form_row(form.price) }}
        {{ form_row(form.author) }}
        <button type="submit" class="btn btn-primary">Փոփոխել</button>
        {{ form_end(form) }}

    </div>
{% endblock %}
